streamlit
chromadb>=0.4.24

langchain
langchain_community
langchain_openai
langchain-anthropic
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-experimental

openai
anthropic

nltk==3.8.1
pypdfium2
pypdf
rapidocr-onnxruntime
sentence-transformers
unstructured
python-pptx
python-magic>=0.4.15
